.NoPage_p {
    color:red;
    text-align: center;
    font-family: sans-serif;
    font-size: large;
    font-weight: bold;
}

.NoPage_h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}